.circle {
    background-color: chartreuse;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

p{
    position: absolute;
    font-size: x;
}

.circle:hover {
    animation: startmoving 2s;
}

@keyframes startmoving {

    25%{
        transform: translate(200px,0);
        background-color: aqua;
        border-radius: 30%;
    }
    
    50%{
        transform: translate(200px,200px);
        background-color: black;
        border-radius: 10%;
    }
    
    75%{
        transform: translate(0,200px);
        background-color: red;
        border-radius: 0%;
    }
    
    100px{
        transform: translate(0,0);


}